@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
  height: 100%;


}
.bg{

  background: #000428;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(90deg, #250f2b,#070112);background: linear-gradient(90deg, #250f2b,#070112);*/


  background-repeat: no-repeat;


}
/*span{*/
/*  font-size: 120px;*/
/*  font-weight: bold;*/
/*  color: #215991;*/
/*  background-image: -webkit-linear-gradient(45deg, #215991 20%, #96097f 80%);*/
/*  background-clip: text;*/
/*  -webkit-background-clip: text;*/
/*  text-fill-color: transparent;*/
/*  -webkit-text-fill-color: transparent;*/
/*}*/


  .btn-grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.home-grid{
  display: flex;
  /*grid-template-columns: 200px 1fr;*/
  justify-content: space-between;
}
